<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="../styles/navbar.css">
  <link rel="stylesheet" href="../styles/contact.css">
  <title>Adam Yun</title>

  <!-- API's -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  
</head>
<body>
    <header>
    </header>

    <main>

      <!-- Load Navbar HTML -->
      <div id="navbarContainer"></div>

      <!-- MAIN CONTENT -->
        <div class="main-content-ctn">
          <div class="main-content">
            <p>
              CONTACT
            </p>
          </div>
        </div>

    </main>

    <footer>
    </footer>

  <script src="../functions/script.js"></script>

</body>

</html>


<!-- 
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        prevMap = {}  # val -> index

        for i, n in enumerate(nums):
            diff = target - n
            if diff in prevMap:
                return [prevMap[diff], i]
            prevMap[n] = i
 -->