.nav-box{
    display: none;
}

/* Desktop View */
@media (min-width: 768px) {
    .nav-box{
        position: fixed;
        top:0;
        width:100%;
        max-width: 800px;
        height:50px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #F8F8FF;
        /* border-bottom:1px solid #D9D9D9; */
        z-index: 999;
    }

    .nav-title{
        font-weight: bold;
    }

    .nav-lists{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .nav-lists li{
        margin-left: 50px;
    }

    .nav-lists li a:hover, .nav-title:hover{
        cursor: pointer;
        color:#737373;
    }
}