*{
    box-sizing: border-box;
}

/* * {
    outline: 1px solid #f00 !important;
} */

/* main{
    width:100%;
    border:1px solid blue !important;
} */

#navbarList li:hover{
    cursor:pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

nav{
    font-family: menlo, sans-serif;
}

#sectionContainer section{
    margin:2rem 0px;
    border-radius: 10px;
}

.name{
    background-image:linear-gradient(rgb(0, 255, 85) 0%, rgb(0, 30, 255)); 
    color:transparent; 
    background-clip: text;
}

.experience-list li{
    /* margin:1.5rem 0rem; */
    padding:20px;
    border-radius: 10px;
    /* border: 1px solid #27272a; */
}

.icons i{
    margin:5px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #27272a;
}

.project{
    position:relative;
    width:100%;
    margin-top:1.5rem;
    display:flex;
    justify-content: start;
    align-items: end;
    transition:background-size 0.3s ease-in-out;
    border:1px solid #27272a;
    border-radius: 10px;
    overflow: hidden;
}

.project-list > :last-child {
    margin-bottom:0.5rem;
}

.project:hover{
    cursor:pointer;
}

.invert-shadow{
    position: absolute;
    width:100%;
    height:100%;
    box-shadow: inset 0 0 20px rgb(50, 50, 50);
}

.project-image{
    width:100%;
    height:auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.project:hover .project-image{
    transform: scale(1.1);
}

.project-info-container{
    width:100%;
    height:auto;
    position:absolute;
    bottom:calc(-2vw + -1rem);    
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 10%, rgba(0, 0, 0, 0) 100%);
    transition:bottom 0.3s ease-in-out;
}

.project-info-container *{
    width:auto;
    height:2vw;
    font-size: 1vw;
}

.project:hover .project-info-container{
    bottom:0%;
}

.project-tech-stack-list li:not(:first-child) {
    margin-left:0.5rem;
}

.project-title{
    width:max-content;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
}

.project-tech-stack-list li p, .project-info-container a p{
    padding:10px;
    border-radius: 5px;
    /* color:black; */
    /* background-color: #27272a; */
    background-color: rgb(20, 20, 20);
}


.project-tech-stack-list li p, .project-info-container a p, .project-title{
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.8), /* Main deep shadow */
        0 6px 6px rgba(255, 255, 255, 0.1) inset, /* Soft inner light */
        0 -2px 4px rgba(255, 255, 255, 0.05) inset; /* Subtle top inner highlight */
}

footer a{
    margin:0rem 0.5rem;
    /* border:1px solid red; */
}

/* Dont touch stuff below */

.experience-list{
    position: relative;
}

.experience-list li {
    position: relative;
    list-style-type: none;
    padding-left: 20px;
  }
  
  /* The circle thing */
  .experience-list li::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 32px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0062ff;
    border:2px solid white;
  }
  
  /* The line thing */
  .experience-list li::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: -5.9px;
    top: 32px;
    width: 2px;
    height: calc(100% - 0px);
    background-color: white;
  }

  .experience-list li:last-child::after {
    height: 0%;
  }
