#divBody *{
    box-sizing: border-box;
}

#navbarList li{
    /* margin:0rem 1rem; */
    /* border:1px solid red; */
}

#navbarList li a:hover{
    cursor:pointer;
    color:white;
}

#listContainer:hover > :not(:hover){
    color:grey;
}

nav{
    font-family: menlo, sans-serif;
}

#sectionContainer section{
    border:1px solid red;
}

footer a{
    margin:0rem 0.5rem;
    border:1px solid red;
}
