
.experience-box{
    height:min-content !important;
}

.experience-list{
    width:100%;
    height:min-content;
    margin-bottom: 25px;
    display: flex;
}

.job-period{
    padding:10px;

    border:1px solid #D9D9D9;
    border-right: 0;
}

.job-information{
    padding:10px;
    
    border:1px solid #D9D9D9;
}

.techstack{
    display: flex;
    justify-content: start;
    align-items: center;
}

.stack{
    margin-right:10px;
}

@media (min-width: 768px){
}