.project{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border:1px solid #27272a;
    border-radius: 10px;
    overflow: hidden;
}

.project:active{
    cursor: pointer;
}

.project-image{
    width:100%;
    height:auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.project:active .project-image{
    transform: scale(1.1);
}

.invert-shadow{
    position: absolute;
    width:100%;
    height:100%;
    box-shadow: inset 0 0 20px rgb(50, 50, 50);
}

.project-info-container{
    position: absolute;
    width:100%;
    height:100%;
    padding:1rem;
    top : var(--project-learn-more-height);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 10%, rgba(0, 0, 0, 0) 100%);
    transition: top 0.3s ease-in-out;
    /* border:1px solid red; */
}

.project:active .project-info-container{
    top:0 !important;
}

.project-title{
    width:max-content;
    height:auto;
    margin-bottom:1rem;
    /* 3D Effect */
    padding:0.5rem;
    background-color: rgb(20, 20, 20);
    border-radius: 1rem;
    font-weight: bold;
}

.project-tech-stack-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem;
    /* border:1px solid yellow; */
}

.tech-stack{
    width:max-content;
    height:auto;
    margin-right:1rem;

    /* 3D Effect */
    padding:0.5rem;
    background-color: rgb(20, 20, 20);
    border-radius: 1rem;

    /* border:1px solid red; */
}

.project-tech-stack-list > :last-child p{
    margin-right:0rem;
}

.project-description{
    display: none;
    width:auto;
    height: auto;
    margin-bottom:1rem;
    padding:0.5rem;
    /* border:1px solid green; */
}

.project-anchor{
    width:max-content;
    height:auto;
    /* border:1px solid yellow; */
}

.project-learn-more{
    /* 3D Effect */
    padding:0.5rem;
    background-color: rgb(20, 20, 20);
    border-radius: 1rem;
}

/* Shadow Effect for 3D Looks */
.project-tech-stack-list li p, .project-info-container a p, .project-title{
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.8),
        0 6px 6px rgba(255, 255, 255, 0.1) inset,
        0 -2px 4px rgba(255, 255, 255, 0.05) inset;
}

@media (min-width: 768px){
    .project:hover{
        cursor: pointer;
    }

    .project:hover .project-image{
        transform: scale(1.1);
    }

    .project:hover .project-info-container{
        top:0 !important;
    }

    .project-description{
        display:block;
        width:auto;
        height: auto;
        margin-bottom:1rem;
        padding:0.5rem;
        /* border:1px solid green; */
    }
}

