
.contacts-box{
    width:100% !important;
    height: max-content !important;
    margin: 0px 0px 100px 0px !important;

    /* border:1px solid red !important; */
}

.contacts-information{
    width:100%;
    height:min-content;

    color:rgb(60, 60, 60);

    padding:0px 25px;
}

.contacts-title{
    display: none !important;
}

.contacts-sub-title{
    width: 100%;
    height: min-content ;
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-message{
    width: 100%;
    height: min-content;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
}

.contacts-mail{
    margin-top:25px;
    width:100%;
    height:min-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-mail-button{
    padding:5px 10px;
    border-radius: 5px;

    border:1px solid black;
    transition: box-shadow 0.1s ease-in-out;
}

.contacts-mail-button:active{
    cursor: pointer;
    border:1px solid black;
    box-shadow: 2px 2px 0px black;
}

@media (min-width: 768px){
    .contacts-mail-button:hover{
        cursor: pointer;
        border:1px solid black;
        box-shadow: 2px 2px 0px black;
    }
}