.content{
    margin-top:10vh;
    width:100%;
    /* remember to set this height relative to the children */
    height:min-content;

    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    background-color: #222;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

section{
    width:100%;
    
    box-sizing: border-box;
}

.introduction-box{
    position: relative;
    height:70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-image-container{
    position: relative;
    width:100%;
    height:45%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.personal-image{
    width:auto;
    height:80%;
    margin: auto 0;

    box-sizing: border-box;
    border:5px solid #444;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.personal-image img{
    max-width: 100%;
    max-height: 180%;
}

.personal-description{
    width:100%;
    height:55%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description-box{
    width:90%;
    height:100%;

    background-color: rgba(51, 51, 51, 0.4);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.description-box p{
    color:whitesmoke;
    margin: 10px;
}

.project-box{
    height:min-content;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;        
}

.project{
    position:relative;
    width:100%;
    height:50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card{
    width:225px;
    height:270px;

    box-sizing: border-box;
    border: 10px solid #333;
    background-color: #222;

    border-radius: 10px;
}

.contact-box{
    height:50vh;
}


.contact-tigo{
    width:100%;
    height:50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-title{
    width:100%;
    height:50%;
    font-size: 24px;

    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-logo{
    width:100%;
    height:50%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo-click{
    margin:0 auto;
}

.logo-click i{
    font-size: 32px;
    color:white;
}

.logo-click i:hover{
    color:#AAA;
    cursor: pointer;
}

.contact-info{
    position: relative;
    width:100%;
    height:50%;

    background-color: #333;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curtains-box{
    position:relative;
    width: 100%;
    height:25%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-curtains-left, .contact-curtains-right{
    width:50%;
    height:100%;
    z-index: 1;

    background-color: #222;
    box-sizing: border-box;
    border:1px solid #333;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 0.5s ease-in-out;
}

.contact-curtains-left{
    margin-right: auto;
}

.contact-curtains-right{
    margin-left: auto;
}

.contact-curtains-left.active{
    margin-right: auto;
    width:10%
}

.contact-curtains-right.active{
    margin-left: auto;
    width:10%;
}

.ig,.fb,.em,.pn{
    position:absolute;
    width: 80%;
    height: 100%;

    color:white;
    opacity:0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s ease-in-out;
}

.ig.active, .fb.active, .em.active, .pn.active{
    opacity: 1;
}

.id-info i{
    text-align: left;
}





