.content{
    margin-top:10vh;
    width:100%;
    height:min-content;

    /* box-sizing: border-box;
    border:1px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flag-story{
    width:100%;
    height: 100%;

    /* box-sizing: border-box;
    border: 1px solid plum; */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flag-container{
    width: 20%;
    height:50vh;
/* 
    box-sizing: border-box;
    border: 1px solid plum; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.pole{
    width:0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.year{
    position: relative;
    width:auto;
    height:auto;
    padding:10px;
    margin-bottom:20px;
    border-radius: 10px;
    
    background-color: #222;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.triangle{
    position: absolute;
    width: 0;
    height: 0;
    margin-top:90%;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #222;
}

.year p{
    margin:0;
    padding:0;
    font-weight: bold;

    color:whitesmoke;
}

.flag{
    width:50px;
    height:50px;
    margin: 0 0 50px 0;

    border:2.5px solid #222;
    border-radius: 50%;
}

.story-container{
    width:80%;
    height:50vh; 
/* 
    box-sizing: border-box;
    border:1px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.story-card{
    width: 80%;
    height:auto;

    background-color: #222;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.story{
    margin: 0 20px 0 20px;

    color:whitesmoke;
}

