span{
    color: #00ffa6;
}
section{
    width:75%;
    height:25vh;

    padding:10px;
    margin:10px 5px 10px 5px;
    border-radius: 10px;
    box-shadow: 10px 10px black;

    background-color:#254439;
}

#Introduction p{
    margin:5px 0 5px 0;
    word-spacing: 5px;
    line-height: 1.35;
}