.desktop-navbar{
    display:none
}

@media (min-width: 768px) {

    .desktop-navbar{
        display:flex;
    }

    #navbarList li:hover{
        cursor:pointer;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
    
    nav{
        font-family: menlo, sans-serif;
    }
  }