input {
    all: unset;
    /* Optionally add back custom styling */
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    transition: none;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}

.chatbot-section{
    width:min-content;
    height:min-content;
    position:fixed;
    bottom:30px;
    right:10px;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.chatbot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.chatbot-btn{
    width:50px;
    height:50px;
    background-color: white;
    
    box-sizing: border-box;
    outline:none;
    border:1px solid black;
}

.chatbot-btn:active{
    background-color: whitesmoke;
    border:1px solid black;
}

.chatbot-chat-box{
    /* z-index: -1; */
    width:0px;
    height:0px;

    opacity: 0;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    box-sizing: border-box;
    border:1px solid black;
    transition: height 0.4s ease-in-out,width 0.4s ease-in-out,opacity 0.1s ease-in-out;
}

.chatbot-chat-box-active{
    width:350px;
    height:450px;
    opacity: 1;
}

.chat-box{
    width:100%;
    height:90%;
    padding:0px 20px;
    overflow:auto;

    box-sizing: border-box;
    /* border:1px solid rgb(0, 255, 0); */
}

.text-box-container{
    width:100%;
    height:10%;

    display: flex;

    box-sizing: border-box;
    border-top:1px solid black;
}

.text{
    width:80%;
    padding:10px;
    box-sizing: border-box;
    /* border:1px solid red; */
}

.send-text{
    width:20%;

    box-sizing: border-box;
    border-left:1px solid black;
}

.user-chat{
    /* max-width: 90%; Prevents it from exceeding the parent's width */
    display:inline-block;
    word-wrap: break-word; /* Ensures long words will break onto the next line */
    white-space: normal;

    margin:15px 0px 15px 50px;
    padding:15px;
    border-radius:10px;

    background-color: rgb(0, 255, 125);
    box-sizing: border-box;
    border:1px solid black;
}

.chatbot-chat{
    display:inline-block;
    /* max-width: 90%; Prevents it from exceeding the parent's width */
    word-wrap: break-word; /* Ensures long words will break onto the next line */
    white-space: normal;

    margin:15px 50px 15px 0px;
    padding:15px;
    border-radius:10px;

    background-color: whitesmoke;
    box-sizing: border-box;
    border:1px solid black;
}

@media (min-width: 768px){

    .chatbot-btn:hover{
        cursor: pointer;
        background-color: whitesmoke;
        box-sizing: border-box;
        
        outline:none;
        /* border:none; */
    }
}