
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    color:black;
}

a {
    text-decoration: none;
}

body{
    width:100%;
    height: 100%;
    min-height:100vh;
    padding: 10px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

::-webkit-scrollbar {
    width: 0.01px; /* Width of the scrollbar */
    background-color: transparent; /* Transparent background */
}

footer {
    width:100%;
    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.copyright{
    margin:0px 10px;
}

.copyright p{
    font-weight: lighter;
    color:#8a8a8a;
}

.extra a{
    margin:0px 10px;
}

.extra a i{
    font-weight: lighter;
    color:#8a8a8a;
}

.introduction-name{
    background-image:linear-gradient(rgb(27, 27, 216) 0%, rgb(13, 226, 84)); 
    color:transparent; 
    background-clip: text; /* Apply gradient to text */
    -webkit-text-stroke: 1px black;
}

@media (min-width: 768px){    

    .mobile-nav-bar{
        display: none;
    }
    
    .mobile-nav-links {
        display: none;
    }

    /* Default styles for desktop */
    .desktop-nav-bar {
        width: 100%; /* Example: 80% width for desktop */
        height:80px;

        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    .desktop-nav-bar a{
        margin-left:50px;

        font-size: 20px;
    }

    .desktop-nav-bar a:hover{
        
        color: white;
        -webkit-text-stroke: 1px black;
    }
}

/* Tablet (iPad) */
@media (max-width: 1024px) {

}

/* Mobile */
@media (max-width: 768px) {

    .desktop-nav-bar{
        display: none;
    }

    .mobile-nav-links{
        display: none;
    }

    .mobile-nav-bar{
        width: 100%; /* Example: 80% width for desktop */
        height: 50px;
        padding: 0px 10px 0px 10px;

        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    .mobile-nav-links {
        width: 100%;
        margin: 10px 0px 10px 0px;
        padding:10px;
        font-size: 42px;

        flex-grow: 1;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
    
        box-sizing: border-box;
        /* border: 1px solid red; */
    }  
}

