.main-view {
    width: 100%;
    margin: 10px 0px 10px 0px;

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.main-view h1 {
    text-align: center;
}

.introduction-name{
    background-image:linear-gradient(rgb(27, 27, 216) 0%, rgb(13, 226, 84)); 
    color:transparent; 
    background-clip: text; /* Apply gradient to text */
    -webkit-text-stroke: 1px black;
}