.main-view{
    width:100%;
    height:min-content;
    margin-bottom:10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.project-list{
    display: grid;
    padding: 0;
    margin: 0;
    width: 80%;

    gap: 10px;

    list-style-type: none;
    box-sizing: border-box;
}

.project{
    height:auto;
    padding:10px;
    gap:10px;

    display: flex;
    justify-content: start;
    align-items: start;

    box-sizing: border-box;
}

.project-title-container{
    width:50%;
    height:100%;
    padding:10px;

    box-sizing: border-box;
}

.project-title{
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
}

.project-description{
    padding:5px 0px;
}

.project-preview-container{
    width:50%;

    box-sizing: border-box;
}

.project-preview{
    display:flex;
    justify-content: end;
    align-items: center;

    box-sizing: border-box;
}

.project-image{
    width:100%;
    object-fit: cover;

    box-sizing: border-box;
    border:1px solid black;
}

.unicon-chatbot-img{
    width:50%;
}

@media only screen and (min-width: 1279px) {
}