.main-view{
    width:100%;
    height:min-content;
    margin-bottom:10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.project-list{
    display: grid;
    padding: 0;
    margin: 0;
    width: 80%;

    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    list-style-type: none;
    box-sizing: border-box;
}

.project{
    height:auto;
    box-sizing: border-box;
    padding-bottom:5px;

    border-bottom:2px solid black;
    /* border:1px solid red; */
}

.project-title-container{
    padding:10px 10px 5px 0px;
    margin-bottom:5px;

    box-sizing: border-box;
    /* border:1px solid red; */
    border-bottom:2px solid black;
}

.project-title{
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    /* border:1px solid green; */
}

.project-description{
    padding:5px 0px;
}

.project-preview-container{
    width:100%;
    height:min-content;

    box-sizing: border-box;
    /* border:1px solid green; */
}

.project-preview{
    /* padding:10px; */

    display:flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    /* border:1px solid red; */
}

.project-image{
    width:100%;
    height:auto;

    box-sizing: border-box;
    border:1px solid black;
}

.unicon-chatbot-img{
    width:50%;
}

.stock-prediction-img{
    
}

@media only screen and (min-width: 1279px) {
    .project-list{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}