*{
    margin: 0;
    padding: 0;

    font-family: sans-serif, Helvetica, Arial;
    color: white;
}

body{
    width:100%;
    height:min-content;

    background-color: rgb(21, 21, 21);
    /* background-color: white; */
    box-sizing: border-box;
    /* border:1px solid red; */
}

a{
    text-decoration: none;
}

/* CSS for resume section */
.resume-ctn{
    position:relative;
    width:100%;
    height:100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.resume-window-bar{
    position: relative;
    width:100%;
    height:10%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.resume-window-bar p{
    font-weight: bold;
    font-size: 250%;
}

.resume-content-ctn{
    position: relative;
    width:100%;
    height:70%;
    padding-top: 20px;
    margin-bottom: 40px;

    overflow: hidden;
    display: flex;
    flex-wrap:wrap;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.professional-experience-section, .education-section, .skills-section{
    position: relative;
    padding:0px 60px;
    width: 50%;
    /* The issue lies here the height must be adjusted for column flex direction in mobile view */
    height: 75%; 

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.skills-section{
    width: 100%;
    height: 25%;
    padding:0px;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.professional-experience-title, .education-title, .skills-title{
    position: relative;
    width: 100%;
    height:10%;
    padding-left: 10px;

    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    /* border:1px solid red; */
}

.skills-title{
    height:30%;
    justify-content: center;
    padding:0px;
    box-sizing: border-box;
    /* border:1px solid red; */
}

/* Resumes's each section title */
.professional-experience-title p, .education-title p, .skills-title p{
    font-weight: normal;
    font-size: 200%;
    border-bottom: 2.5px solid white;
}

.professional-experience-content, .education-content, .skills-content{
    position: relative;
    width: 100%;
    height: 90%;
    padding:10px;

    display: flex;

    box-sizing: border-box;
    /* border: 1px solid red; */
}

.skills-content{
    height:70%;
    padding:0px;

    box-sizing: border-box;
    /* border:1px solid red; */
}

/* Resume, pro-exp content css */

.professional-experience-content ol, .education-content ol{
    width: 100%;

    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    

    box-sizing: border-box;
    /* border:1px solid red; */
}

.professional-experience-content ol li, .education-content ol li{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    /* border:1px solid red; */
}

.professional-experience-text, .education-text, .professional-experience-date, .education-date{
    font-size: 120%;
}

.professional-experience-text, .education-text{
    width:70%;
    height:100%;
    font-weight: lighter;
    text-decoration: none !important;
    
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    border:1px solid red;
}

.professional-experience-date, .education-date{
    width:25%;
    height:100%;
    margin-left:auto;
    font-weight: lighter;
    text-decoration: none !important;

    display: flex;
    justify-content: end;
    align-items: center;

    box-sizing: border-box;
    border:1px solid red;
}

/* Skill Section of CSS */
.skills-content ol{
    position:relative;
    width: 100%;
    height: 100%;

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    
    box-sizing: border-box;
    /* border:1px solid red; */
}

.skills-content ol li{
    width: 70px;
    height: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    box-sizing: border-box;
    /* border:1px solid red; */
}

.skills-content ol li img{
    width:45px;
    height: 45px;
    transition: width 0.25s, height 0.25s;
}

.skills-content ol li img:hover{
    width:50px;
    height: 50px;
    transition: width 0.5s, height 0.5s;
}

.skills-content ol li p{
    width: 100%;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px){
    .professional-experience-section{
        width: 100%;
    }

    .education-section{
        width: 100%;
    }

    .professional-experience-section, .education-section, .skills-section{
        height:33%;
        padding:0px;
    }

    .resume-content-ctn{
        padding:0px;
        margin:0px;
    }

    .professional-experience-title, .education-title, .skills-title{
        height:25%;
        padding: 0px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .professional-experience-content, .education-content, .skills-content{
        height: 75%;
        padding: 0px 25px;
    }

    .professional-experience-text, .education-text, .professional-experience-date, .education-date{
        font-size: 90%;
    }

    .professional-experience-content ol li, .education-content ol li{
        margin-top: 5px;
    }
    
    .skills-content ol li{
        width:50px
    }
    
    .skills-content ol li p{
        font-size: 55%;
    }
}