
.about-box{
    height:min-content !important;
}

.about-description{
    color:rgb(55, 55, 55);
}

.about-description{
    width:100%;
    height:100%;
    padding:0px 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
}