
.about-box{
    height:min-content !important;
}

.about-details{
    padding:50px;
    width: 100%;
    height:100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.about-image-box{
    width:30%;
    height:100%;
    margin-top: 25px;
    z-index: -999;
    
    overflow: hidden;
    border:0.5px solid black;
    box-shadow: 2px 2px 0px black;
}

.about-image{
    transform: scale(2) translateY(-10%);
    transform-origin: center;
}

.about-name{
    width:100%;
    font-weight: bold;
    font-size: 2.5rem;
    color:black;
}

.about-job{
    width:100%;
    
    font-size: 1.5rem;
    color:black;
}

.about-description{
    margin-bottom:20px;
    width:100%;
    height:100%;
    color:rgb(60, 60, 60);
}

.about-box ol{
    width:100%;
    height:100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.about-box ol li{
    margin-right: 12px;
    padding:0px 7px;
    font-size: 1.2rem;

    border-radius: 5px;
    border:1px solid black;
    transition: box-shadow 0.1s ease-in-out;
}


.about-box ol li:active{
    cursor: pointer;
    border:1px solid black;
    box-shadow: 2px 2px 0px black;
}

@media (min-width: 768px){

    .about-details{
        flex-direction: row;

        border:1px solid #D9D9D9;
        border-radius: 5px;
    }

    .about-information{
        width: 100%;
        padding:10px;
    }

    .about-description{
        margin-bottom:20px;
        margin-right: 100px;
        padding:1px;
        width:auto;
        height:100%;
        color:rgb(60, 60, 60);
    }

    .about-image-box{
        margin-top: 0px;
    }


    .about-box ol li:hover{
        cursor: pointer;
        border:1px solid black;
        box-shadow: 2px 2px 0px black;
    }
}